
#menu-wrapper
{
  background: #a60818;
}

#menu ul
{
  display: inline-block;
  margin: 0;
  padding: 0em 0em;
  text-align: center;
}

#menu li
{
  display: inline-block;
}

#menu li a, #menu li span
{
  display: inline-block;
  padding: 2em 1.5em;
  text-decoration: none;
  font-size: 0.90em;
  font-weight: 600;
  text-transform: uppercase;
  outline: 0;
  color: #FFF;

}

#menu li:hover a, #menu li.active a, #menu li.active span
{
}


#banner
{
  overflow: hidden;
  padding: 20em 0em;
  background: url(bannerr.png) no-repeat center;
  background-size: cover;
}
/*imagen*/
#img {
 width: 1350px;
 height: 500px;
 display: block;
 margin: auto;
 align: center;
}








.wrapper
{
  overflow: hidden;
  padding: 0em 0em 5em 0em;
  background: #0000;
}

#wrapper2
{
  overflow: hidden;
  background: rgba(0,0,0,.1);
  padding: 5em 0em;
}


.wrapper
{
  overflow: hidden;
  padding: 0em 0em 5em 0em;
  background: #0000;
}

#wrapper2
{
  overflow: hidden;
  background: rgba(0,0,0,.1);
  padding: 5em 0em;
}

#copyright
{
  overflow: hidden;
  padding: 5em 0em;
  border-top: 1px solid rgba(255,255,255,0.08);
  text-align: center;
  color: #000;
}

#copyright p
{
  letter-spacing: 1px;
  font-size: 0.90em;
  color: rgba(255,255,255,0.6);
}

#copyright a
{
  text-decoration: none;
  color: rgba(255,255,255,0.8);
}
